body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 53, 53);
    background: black;
}


.container{
    margin:0px 10px 0px 10px;
    background: white;
}


/* header css */
.cabecera{
    background-color: rgb(66, 185, 11);
    color:white;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    font-size: 25px;
}












 /* footer css */
.container__footer{
    background: rgb(37, 172, 10);
    padding: 15px;
    color: white;
    font-size: 12px;
}

.cabecera__img{
    width: 70px;
}

.container__footer{
    margin: 1px;
}